h1, h2, h3, p{
    font-weight: 400;
}
.container{
    height: 860px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background: linear-gradient(270deg, #7FE47D 0%, #8AC7FF 101.6%);
    position: relative;
    color: #2A272D;
    margin-bottom: 0px;

font-family: "Neue Regrade";
font-style: normal;
}

.container h2{
    margin-left: 32px;
    margin-top: 56px;
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 32px;
    
}
.container h3{
    font-size: 20px;
    font-weight: bold;
    
}

.web-title{
    margin: 0px;
    margin-top: 64px;
    display: flex;
    font-size: clamp(36px, 4vw, 42px);
    font-weight: 400;
    grid-column-start: 3;
    grid-column-end: 8;
    position: absolute;
    overflow: visible;
}
.web-title img{
    grid-column-start: 10;
    margin-top: 16%;
    margin-right: 16px;
    width: 16px;
    height: 16px;
}

.card-contact{
    grid-column-end: 12;
    width: 330px;
    height: 202px;
    padding-bottom: 24px;
    padding-top: 16px;
    background: url('./src/assets/base-card.svg') no-repeat center/contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    gap: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.card-title h2{
    margin-top: 26px;
    margin-left: 0px;
}
.card-contact ul{
    list-style-type: none;
    display: flex;
    column-gap: 24px;
    padding: 0%;
    align-items: center;
    justify-content: center;
    margin: 8px;
    transition: filter 0.3s ease;
}

.card-contact li:hover{
    filter: brightness(1.8);
    box-shadow: #2A272D;

}

.mail{
    gap: 8px;
    height: fit-content;
    display: flex;
    margin-bottom: 16px;
}

.mail:hover{
    text-decoration: underline;

}

.gif{
    margin-top: 64px;
    border-radius: 8px;
    background-color: #232323;
    margin-left: 0%;
    position: relative;
    grid-column-start: 9;
    grid-column-end: 12;
    height: 460px;
    overflow: hidden;
}
.gif img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.addon-arrow{
    width: 41px;
    height: 41px;
    margin-left: 20px;
    margin-top: 20px;
}

.addon-arrow-black{
    width: 41px;
    height: 41px;
    margin-top: 20px;
}

.marquee {
    color: white;
    font-family: "Neue Regrade";
    font-style: normal;
    font-size: 32px;
    display: flex;
    align-items: center;
    margin-top: 0;
    background-color: #141414;
    width: 100%;
    height: 64px; /* Mantiene el contenedor con un tamaño fijo */
    line-height: 64px; /* Alinea verticalmente el texto en el centro */
    overflow: hidden; /* Asegura que el contenido que sale de la pantalla no se vea */
    padding: 0; /* Elimina cualquier relleno adicional que pueda afectar la altura */
}

.marquee__content {
    height: auto; /* Permite que el contenido ocupe el espacio necesario */
    display: flex;
    align-items: center;
    gap: 20px;
    animation: scroll 32s linear infinite;
}

.marquee__item {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

.lotus{
    width: 800px;
    margin-top: 300px;
    grid-column-start: 5;
    position: absolute;
    z-index: 1;
}

.line {
    position: absolute; /* Fija la posición en relación al contenedor padre posicionado */
    background-color: #141414; /* Color de la línea */
    width: 1px; /* Ancho de la línea */
    height: 100%; /* Altura de la línea */
    top: 0; /* Asegura que la línea comience desde el borde superior */
    left: 8%; /* Posiciona la línea en el centro del contenedor padre (ajusta según sea necesario) */
}

.line-white{
    position: absolute; /* Fija la posición en relación al contenedor padre posicionado */
    background-color: #141414; /* Color de la línea */
    width: 1px; /* Ancho de la línea */
    height: 100%; /* Altura de la línea */
    top: 0; /* Asegura que la línea comience desde el borde superior */
    right: 3%; /* Posiciona la línea en el centro del contenedor padre (ajusta según sea necesario) */
    z-index: 2;
}

@keyframes scroll {
    from {
        transform: translateX(0%); /* Inicia fuera de la vista */
    }
    to {
        transform: translateX(-100%); /* Termina fuera de la vista por el otro lado */
    }
}

@keyframes shake {
    0%, 95%, 100% {
        transform: translateX(0);
    }
    10%, 30% {
        transform: translateX(-8px);
    }
    20% {
        transform: translateX(8px);
}}